<h1>Reset Your Password</h1>

<p>Hello <%= @resource.name.present? ? @resource.name : @resource.email %>!</p>

<p>Someone has requested a link to change your password on CandiData. You can do this through the button below.</p>

<p style="text-align: center;">
  <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" class="btn">Reset My Password</a>
</p>

<p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>

<hr class="divider">

<p class="muted">This link will expire in <%= distance_of_time_in_words(Devise.reset_password_within) %>.</p>
